<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  {% if is_dev_mode -%}
    <link rel="stylesheet" type="text/css" href="../style.css">
  {% else %}
  <style>
    {%- include "style.css" %}
  </style>
  {%- endif %}
</head>

<body>
  <h1>{{title}}</h1>
  <main>{{html_table}}</main>
</body>

</html>